@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  color: #333;
}

.container {
  margin: 0 15px;
}

.form-box {
  width: 100%;
  max-width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.form-box.active {
  display: block;
}
h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  background: #7494ec;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  transition: 0.5s;
}

button::hover {
  background-color: #6884d3;
}

p {
  font-size: 14.5px;
  text-align: center;
  margin-bottom: 10px;
}

p a {
  text-decoration: none;
  color: #7494ec;
}

p a::hover {
  text-decoration: underline;
}
